<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/home/style.css">
    <title>Fauzan's Biography</title>
</head>
<body>
    <h1>A<br>BIOGRAPHY<br>OF ME</h1>
    <h2>Hello Everyone! This is Fauzan's Biography</h2>
    <h3>(in case anyone still don't get it)</h3>
    <p>&nbsp;</p>
    <img src="../../static/images/myface.png" alt="My Face" width="250" height="265" class="center">
    <p id="it"><i>Behold, the face of Fauzan</i></p>
    <p>&nbsp;</p>
    <p>In this website, you will see most of my information, whether it's my identification, educational history, or my personal contact information.</p>
    <ul>
        <li>Name: Muhammad Rizki Fauzan</li>
        <li>NPM: 1906400375</li>
        <li>Occupation: Student of Computer Science in Universitas Indonesia (2019)</li>
        <li>Hobbies: Watching YouTube Videos, Podcasting, Design</li>
    </ul>
    <p>&nbsp;</p>
    <h3>A little description of this guy</h3>
    <p id="desc">Muhammad Rizki Fauzan is fine young gentleman who was born on July 27, 2001 in Jakarta. 
        Throughout his life, he always has a spark of interest in computing, whether it's about electrical stuff, or coding itself. 
        Ever since he understands what requirements are needed to learn computing, he learns a lot of math. 
        His interest of math and computing was continued to the point he got accepted to Computer Science Undergraduate Program in Universitas Indonesia in 2019. 
        Currently, he's learning web development, and this is one of his projects.
    </p>
    <a href="https://linktr.ee/AwakwardNetwork">
        <img alt="Awakward Podcast" src="../../static/images/awk.png" width="50" height="50" class="center">
    </a>
        
</body>
</html>