body {
    margin-bottom: 100px;
    background-color:#fbe2e5;
}
h1 {
    text-align: center;
    font-family: "Monument", Impact, Charcoal, sans-serif;
    font-stretch: extra-condensed;
    font-size: 75px;
    font-weight: 1000;
}
h2 {
    text-align: center;
    font-family: 'Gotham', Arial, Helvetica, sans-serif;
}
h3 {
    text-align: center;
    font-family: 'Gotham', Arial, Helvetica, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}
p {
    font-family: 'Gotham', Arial, Helvetica, sans-serif;
    margin-left: 50px;
    margin-right: 50px;
}
ul {
    list-style-type: circle;
    font-family: 'Gotham', Arial, Helvetica, sans-serif;
    margin-left: 50px;
    margin-right: 50px;
}
#it {
    text-align: center;
}
#desc {
    font-family: 'Gotham', Arial, Helvetica, sans-serif;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}